[submodule "01-excel"]
	path = 01-excel
	url = https://github.com/AlbertoV5/01-excel
[submodule "02-vba"]
	path = 02-vba
	url = https://github.com/AlbertoV5/02-vba
[submodule "03-python"]
	path = 03-python
	url = https://github.com/AlbertoV5/03-python
