[submodule "tec-data-02-vba"]
	path = tec-data-02-vba
	url = https://github.com/AlbertoV5/tec-data-02-vba
[submodule "tec-data-03-python"]
	path = tec-data-03-python
	url = https://github.com/AlbertoV5/tec-data-03-python
[submodule "tec-data-01-excel"]
	path = tec-data-01-excel
	url = ./https://github.com/AlbertoV5/tec-data-01-excel
